body{
    margin: 0;
}
nav{
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
}
.nav-head{
    color: black !important;
    font-size: 22px;
     text-align: center;
     padding: 0 2rem 0 2rem;
}
nav .bundle{
    display: flex;
    flex-direction: row;

}
nav li{
    background: white;
    
}
li a{
    color: black;
    text-decoration: none;
    padding: 0 2rem 0 2rem;
}
.links{
    padding: 0;
    width:100%;
    display: flex;  
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("https://mcdn.wallpapersafari.com/medium/3/99/7cPhMl.jpg");
    background-size: cover;
    padding: 8rem 0 0 0;
}
main{
    height: fit-content;
    padding: 2rem;
    border: 3px solid rgb(82, 81, 81);
    width: fit-content;
    background: #00000071;
}
h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    text-align: center;
    margin: 10px
}
#inputField{
    width: 25rem;
    height: 2rem;
    font-size: 18px;
    border: 3px solid rgb(190, 173, 173) ;
    background: #55545421;
    color: white;
}
#inputField::placeholder{
    color: white;
}
#addBtn{
    padding: 8px;
    background: rgb(60, 60, 202);
    border: 2px solid black;
    color: white;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}
li{
display: flex;
padding: 10px;
background: rgb(0, 0, 0);
border: 1px solid snow;
color: rgb(255, 255, 255);
margin-top: 5px;
font-size: 18px;
font-family: monospace;
    
/* text-decoration: line-through; */
}
.icon-wrap i{
    margin: 0 10px 0 10px;
}
.icon-wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.wrap{
    display: flex;
}
span{
    width: 100%;
}
@media screen and (max-width:530px) {
    
    .container{
        min-height: 100vh;
        max-height: fit-content;
        align-items: start;
        padding: 3rem 1rem 3rem 1rem;
    }
    li a{
        color: black;
        text-decoration: none;
        padding: 0 15px 0 15px;
    }
    h1{
        font-size: 40px;
    }
    main{
        width: 80%;
    }
    #inputField{
        width: 80%;
        height: fit-content;
        padding: 5px;
        font-size: medium;
    }
    li{
        align-items: center ;
        font-size: medium;
    }
    .icon-wrap{
        margin-top: 10px;
    }
    span{
        min-width: 7rem; 
        max-width: fit-content;
        overflow:hidden ;
    }
}